<div class="row"  <% if @articles.any? %> style="margin-bottom: 5%;" <%end%> >
  <div class="col-12">
    <div class="card card-primary alpha-listing ">
      <div class="card-header  text-white">
        <h2 class="h2 alpha-title " align="center">Listing all articles</h2>
        <div class="text-right">
          <%= link_to "Create new article", new_article_path, class: " text-white" %>
        </div>
      </div>

      <% if @articles.any? %>
          <% @articles.each do |article| %>

              <div class="card-block text-white">

                <div class="article-title">
                  <%= link_to article.title, article_path(article), class: "text-white" %>
                </div>
                <div class="blockquote article-body">
                  <%= truncate(article.description, length: 100) %>
                </div>
                <hr>
                <div class="blockquote article-meta-details">
                  <small>Created By: <%= article.user.username if article.user%>
                  <%= time_ago_in_words(article.created_at)  %> ago,
                    last updated: <%=  time_ago_in_words(article.updated_at) %> ago</small>
                </div>
              </div>
              <div class=" card-footer text-right">
                <%= link_to "Edit", edit_article_path(article), class: "text-white btn btn-xs btn-primary" %>  |
                <%= link_to "Delete", article_path(article), method: :delete,
                            data: {confirm: "Are you sure you want to delete the article?"},
                            class: "text-white btn btn-xs btn-danger" %>
              </div>
          <% end %>
      <% end %>
    </div>
  </div>
</div>
